@import '../variables';

$base-color: darken($primary, 10%);
.calendar-button {
  background-color: transparent;
  height: 2.4rem;
  width: 2.4rem;
  line-height: 2rem;
  color: $base-color;
  border: none;
  padding: 0;
  margin: 0.2rem 0.2rem;
  font-size: 1rem;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s linear, color 0.2s linear;

  text-transform: uppercase;
  &:hover {
    background-color: $base-color;
    color: white;
  }
  &:focus {
    outline: 2px solid $base-color;
    outline-offset: 2px;
  }
  &:active {
    background-color: $base-color;
    border-color: $base-color;
    color: white;
  }
}
.arrow-button {
  border: 0;
  box-shadow: unset;
  &:hover {
    background-color: $base-color;
    .icon-primary {
      color: white;
    }
  }
}
table {
  width: 100%;
}
thead {
  position: relative;
  .calendar-header {
    &::after {
      position: absolute;
      content: '';
      width: 100%;
      border-bottom: 0.1rem solid $gray-400;
      left: 0;
      top: 2rem;
    }
    th {
      padding-bottom: 1rem;
    }
  }
}
tbody {
  tr {
    text-align: center;
  }
}
.is-today {
  background-color: lighten($base-color, 60%);
}
.not-current-month {
  opacity: 0.5;
}
.is-selected {
  background-color: $base-color;
  color: white;
}

// layout
.layout-container {
  display: flex;
  flex-direction: column;
  .layout-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.4rem;
  }
  .layout-body {
    // flex: 1;
  }
  .layout-footer {
    &::before {
      content: '';
      border-bottom: 0.1rem solid $gray-400;
      display: block;
      left: 0;
      top: 2rem;
      margin-bottom: 1rem;
    }
  }
}

// calendar
.calendar {
  width: 27rem;
  height: 29rem;
  padding: 15px;
  border: 0.1rem solid $primary;
  border-radius: 1.5%;
  margin: 1rem 0;
}

.dropdown {
  display: flex;
  flex-direction: column;
  height: 17rem;
  justify-content: space-between;
  border: 0.1rem solid $gray-300;
  border-radius: $border-radius;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 0 6px 0 rgba(0, 0, 0, 0.04);
  width: 4rem;
  z-index: 1000;
  background-color: white;
  position: absolute;
  top: 2.5rem;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .dropdown-button {
    border-radius: 0;
    margin: 0;
    width: 100%;
    &:focus {
      outline: 0;
    }
  }
}

.month-year-picker {
  display: flex;
  width: 9rem;
  justify-content: space-between;
  .picker-button {
    border-radius: 0;
    margin: 0;
    width: 4rem;
    &:focus {
      outline: 0;
    }
  }
  .year-picker{
    position: relative;
  }
}

