.container {
  width: 60%;
  display: flex;
  padding: 0;
  color: #000000;
  font-weight: 300;
  border-radius: 0.375rem;
  border-width: 1px;
  border-color: #000000;
  border-style: solid;
}

.input {
  z-index: 10;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  font-weight: 300;
  width: 100%;
  border-color: #9ca3af;
  box-shadow: none;
  border-style: solid;
  border-width: 0px;
}

.input:focus {
  outline-style: solid;
  outline-color: #5290fb;
}

.prefix {
  display: flex;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  background-color: #e5e7eb;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 0;
  border-top-left-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
  border-right-width: 1px;
  border-color: #000000;
}

.suffix {
  display: flex;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  background-color: #e5e7eb;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
  border-style: solid;
  border-width: 0;
  border-left-width: 1px;
  border-color: #000000;
}
